#mapa {
    height: 100%;
    width: 100%;
}

.corMenu {
    color: black !important;
}

.combo {
    position: absolute;
    top: 5%;
    width: 204px;
    height: 38px;
    z-index: 1000;
}

.left1 {
    left: 1%;
}

.left17 {
    left: 17%;
}

.left33 {
    left: 33%;
}

.leaflet-left {
    left: 96%;
}

.divGrafico {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1000;
    top: 20%;
    left: 1%;
}

.divgraficos {
    z-index: 1000;
    position: absolute;
    width: 520px;
    top: 20%;
    height: 38px;
    left: -45%;
    transition: 1s all;
}

.divLegenda {
    position: absolute;
    width: 360px;
    height: 107px;
    background-color: white;
    z-index: 1000;
    left: 1%;
    top: 80%;
    border-radius: 10%;
}

.conteudoLegenda {
    margin: 10px;
}

.listaLegenda {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.textoLegenda {
    color: black;
}

.baixo {
    color: yellow;
}

.medio {
    color: blue;
}

.alto {
    color: green;
}